<p class="instructions" [@readyToWrite]="readyToWrite ? 'fade-out' : 'fade-in'" (@readyToWrite.done)="triggerSecondaryAnimations()">What is your writing goal?</p>
<p id="goal" class="instructions" [@readyToWrite]="readyToWrite ? 'fade-out' : 'fade-in'">{{wordcountGoal}}</p>
<p class="instructions" [@readyToWrite]="readyToWrite ? 'fade-out' : 'fade-in'">words</p>
<p class="instructions" [@readyToWrite]="animationState">Write away,</p>
<p class="instructions" [@readyToWrite]="animationState">and until you're done,</p>
<p class="instructions" [@readyToWrite]="animationState">never look back</p>