.instructions {
  font-size: 5rem;
  color: white;
  text-align: center;
}

#goal {
  font-size: 10rem;
  max-width: 50%;
  word-wrap: break-word;
  margin: 0 auto;
}

p:nth-child(1), p:nth-child(4) {
  margin-top: 7rem;
}